@use 'src/styles/variables' as v;

.form__box h1 {
  font-size: 1.8em;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
  padding-bottom: 2rem;
}

.form__box h1::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1rem;
  content: url('./reset-icon.png');
}

.form__elem {
  display: block;
}

.form__elem input {
  display: block;
  border: 1px solid v.$midGrey;
  margin-bottom: 1.5rem;
}

.form__reset {
  display: block;
  margin-bottom: 15px;
  margin-left: 11rem;
}

.form__reset label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.reset__btn {
  display: inline-block;
  padding: 8px;
  font-size: 1.2em;
  color: #fff;
  background: v.$blue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.reset__btn:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}

.cancel__btn {
  margin-left: 3rem;
  font-size: 1.2em;
}

.reset__buttons {
  margin-bottom: 27rem;
}

/* RESPONSIVE */

/* xs */
@media (min-width: 350px) {
  .form__box {
    margin: 0 auto;
    margin-top: 2rem;
    margin-left: 5rem;
  }

  .form__box h1 {
    margin-left: 12rem;
  }
  .reset__btn {
    margin-bottom: 1.5rem;
  }
}
