@use 'src/styles/variables' as v;

.delete__container h1 {
  font-size: 1.8em;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
}

.delete__container h1::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1rem;
  content: url('./delete-icon.png');
}

.delete__p {
  font-size: 1.2em;
  margin-left: 8rem;
  margin-top: 1.8rem;
}

button[type='submit'] {
  display: block;
  width: 200px;
  margin-top: 2rem;
  margin-bottom: 27rem;
  margin-left: 8rem;
  padding: 0.25rem;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  background: v.$blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}
