@use 'src/styles/variables' as v;

.products__menu {
  width: 300px;
  height: 62%;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  background: v.$blue;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.products__category {
  text-align: center;
  padding: 6px;

  h3 {
    color: v.$pink;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid v.$lightGrey;
  }
}

.products__item li {
  font-size: 1.5em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  cursor: pointer;
}

body {
  width: 100%;
  margin: 0 auto;
}

.products__wrapper {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  margin-left: 23rem;
}
.product-img {
  height: 480px; 
  
}
.products__card {
  width: 100%;
  margin-left: 18rem;
  margin-bottom: 3rem;
  
}


.products__card {
  position: relative;
}

.vendu-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.322); 
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


.vendu-image {
  filter: blur(5px); 
}

