@use 'src/styles/variables' as v;

.seller__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.seller__title h2 {
  margin-top: 5rem;
  font-size: 2rem;
  border-bottom: 1px solid v.$midGrey;
  line-height: 2;
  color: #313131;
  margin-right: 65rem;
}

.seller__cta {
  display: none;
}

.seller__button input {
  float: right;
  display: block;
  font-size: 1.3em;
  color: #fff;
  margin-right: 3rem;
  margin-top: -4rem;
  background: v.$blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seller__button input:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}

.seller__card {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  margin-left: 15rem;
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.products__card__item .card-content {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.trash-icon {
  font-size: 22px !important;
  cursor: pointer;
}
