@use 'src/styles/variables' as v;

.seller__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.seller__title h2 {
  font-size: 1.4em;
  border-bottom: 1px solid v.$midGrey;
  line-height: 2;
  color: #313131;
}

.seller__cta {
  display: none;
}

.seller__button input {
  float: right;
  display: block;
  font-size: 1.3em;
  color: #fff;
  margin-right: 3rem;
  margin-top: -4rem;
  background: v.$blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.seller__button input:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}

.seller__card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 8rem;
}
