@use 'src/styles/variables' as v;

.about-us {
  display: flex;
  align-items: center;
  &-img {
    width: 35%;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  &_text {
    flex: 1;
    font-size: 1.5rem;

    p {
      padding: 1.2rem;
      font-size: 1.8rem;
    }

    h1 {
      padding: 1rem;
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 20px;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 700;

    button {
      margin-bottom: 10px;
      font-size: 1.8rem;
    }

    img {
      max-width: 550px;
      margin-left: 25px;
    }
  }
}

#btn-account {
  background-color: v.$pink;
  padding: 20px;
  width: 300px;
  text-align: center;
  cursor: pointer;
}

#btn-adopt {
  background-color: v.$blue;
  padding: 20px;
  width: 600px;
  text-align: center;
  cursor: pointer;
}

#btn-contact {
  background-color: v.$yellow;
  padding: 20px;
  width: 600px;
  text-align: center;
  cursor: pointer;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .about-us {
    display: flex;
    align-items: center;
    margin-left: -7rem;
    &-img {
      width: 450px;
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 50px;
      margin-top: 30px;
    }

    &_text {
      flex: 1;
      font-size: 1.5rem;
      margin-left: -5rem;

      p {
        padding: 1.2rem;
        font-size: 1.8rem;
      }

      h1 {
        padding: 1rem;
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      margin: 20px;
      gap: 20px;
      font-size: 1.5rem;
      font-weight: 700;
      margin-left: 3rem;

      button {
        margin-bottom: 10px;
        font-size: 1.8rem;
      }

      img {
        max-width: 330px;
        margin-left: 2px;
      }
    }
  }

  #btn-account.secondary__button {
    background-color: v.$pink;
    padding: 20px;
    width: 350px !important;
    text-align: center;
    cursor: pointer;
  }

  #btn-adopt.secondary__button {
    background-color: v.$blue;
    padding: 20px;
    width: 350px !important;
    text-align: center;
    cursor: pointer;
  }

  #btn-contact.secondary__button {
    background-color: v.$yellow;
    padding: 20px;
    width: 350px !important;
    text-align: center;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-us {
    display: flex;
    align-items: center;
    margin-left: -7rem;
    &-img {
      width: 450px;
      margin-left: 90px;
      margin-right: 90px;
      margin-bottom: 50px;
      margin-top: 30px;
    }

    &_text {
      flex: 1;
      font-size: 1.5rem;
      margin-left: -5rem;

      p {
        padding: 1.2rem;
        font-size: 1.8rem;
      }

      h1 {
        padding: 1rem;
        font-size: 3rem;
      }
      h3 {
        font-size: 2rem;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
      margin: 20px;
      gap: 20px;
      font-size: 1.5rem;
      font-weight: 700;
      margin-left: 3rem;

      button {
        margin-bottom: 10px;
        font-size: 1.8rem;
      }

      img {
        max-width: 630px;
        margin-left: 2px;
      }
    }
  }

  #btn-account {
    background-color: v.$pink;
    padding: 20px;
    width: 650px !important;
    text-align: center;
    cursor: pointer;
  }

  #btn-adopt {
    background-color: v.$blue;
    padding: 20px;
    width: 650px !important;
    text-align: center;
    cursor: pointer;
  }

  #btn-contact {
    background-color: v.$yellow;
    padding: 20px;
    width: 650px !important;
    text-align: center;
    cursor: pointer;
  }
}
