@use 'src/styles/variables' as v;

.account__container h1 {
  font-size: 1.8em;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
}

.account__items {
  font-size: 1.2em;
  margin-left: 8rem;
  line-height: 2;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.profile__title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -6rem;
  margin-left: -20rem;
  font-size: 2em;
  text-transform: uppercase;
}

.profile__subtitle {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.profile__information h2::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1rem;
  content: url('./account-icon.png');
}

.edit__icon {
  display: inline-block;
  position: absolute;
  vertical-align: -0.125em;
  left: 80rem;
  top: 31rem;
  content: url('./edit-icon.png');
}

.profile__elem {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  color: #000;
  background: #fff;
  border: 1px solid v.$midGrey;
  padding: 15px;
}

.save__btn {
  border-radius: 5px;
  width: 40%;
  margin-top: 1.2rem;
  margin-left: 12rem;
  background: v.$blue;
  padding: 6px;
  color: #fff;
  cursor: pointer;
}

.save__btn:hover,
.savepass__btn:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}

.profile__elem input[type='text'],
.profile__elem input[type='tel'],
.profile__elem__second input[type='email'],
.profile__elem__second input[type='password'] {
  border: 1px solid v.$midGrey;
  width: 50%;
  margin: 5px;
  margin-left: 2rem;
}

.login__subtitle {
  margin-bottom: 1rem;
}

.login__information h2::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1.5rem;
  content: url('./account-icon.png');
}

.order__container {
  padding: 10px;
  display: flex;
}


.order__item {
  border-bottom: 3px solid gray;
  padding: 10px;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.order__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; 
  gap: 30px;
}
