@use 'src/styles/variables' as v;

.account__container h1 {
  font-size: 1.8em;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
}

.account__items {
  font-size: 1.2em;
  margin-left: 8rem;
  line-height: 2;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.profile__title h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: -6rem;
  margin-left: -20rem;
  font-size: 2em;
  text-transform: uppercase;
}

.profile__subtitle {
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.profile__information h2::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1rem;
  content: url('./account-icon.png');
}

.profile__elem {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  color: #000;
  background: #fff;
  border: 1px solid v.$midGrey;
  padding: 15px;
}

.save__btn {
  border-radius: 5px;
  width: 40%;
  margin-top: 1.2rem;
  margin-left: 12rem;
  background: v.$blue;
  padding: 6px;
  color: #fff;
  cursor: pointer;
}

.save__btn:hover,
.savepass__btn:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}

.profile__elem input[type='text'],
.profile__elem input[type='tel'],
.profile__elem__second input[type='email'],
.profile__elem__second input[type='password'] {
  border: 1px solid v.$midGrey;
  width: 50%;
  margin: 5px;
  margin-left: 2rem;
}

.login__subtitle {
  margin-bottom: 1rem;
}

.login__information h2::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 1.5rem;
  content: url('./account-icon.png');
}

.order__container {
  padding: 10px;
  display: flex;
}

.order__item {
  border-bottom: 3px solid gray;
  padding: 10px;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.order__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
}

/*RESPONSIVE*/

/* xs */
@media (min-width: 350px) {
  .account__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile__title h1 {
    margin-top: 5.5rem;
    margin-left: 2rem;
  }

  #orders h1 {
    margin-top: 2rem;
    margin-left: 6rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .account__container h1 {
    font-size: 1.5em;
    margin-left: 2rem;
  }

  .account__items {
    font-size: 1.2em;
    margin-left: 2rem;
  }

  .profile__subtitle h2 {
    font-size: 1.5em;
  }

  #orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10rem;
  }
}

/* md */
@media (min-width: 768px) {
  .account__container h1 {
    margin-left: 5rem;
  }

  .profile__title h1 {
    margin-left: 1.4rem;
    margin-bottom: 3rem;
  }

  .account__items {
    margin-left: 5rem;
  }

  #orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .profile__title h1 {
    margin-left: 1.4rem;
    margin-bottom: 3rem;
  }

  #orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .profile__title h1 {
    margin-bottom: 2rem;
  }

  #orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10rem;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .account__container h1 {
    margin-top: 2.5rem;
    margin-left: 5rem;
  }

  #profile {
    margin-top: -15rem;
  }

  .profile__title h1 {
    margin-right: 5rem;
    margin-bottom: 2rem;
  }

  #orders {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-right: 10rem;
  }

  .order__container p {
    margin-top: 2rem;
  }
}
