.admin-header {
    text-align: center;
    font-size: 24px; 
    margin-bottom: 10px;
  }



.admin-nav {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    background-color: #f0f0f0;
    padding: 10px; 

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
        margin: 10px;
    
        &:hover {
          text-decoration: underline;
        }
      }
  }

  .admin-page-home {
    margin-bottom: 39.5rem;
  }

  .active-link {
    color: red;
  }