@use 'src/styles/variables' as v;

.notice__box h1 {
  font-size: 3em;
  font-weight: 700;
  margin-left: 1.25rem;
  margin-right: 1.8rem;
  border-bottom: 3px solid lightgray;
}

.notice__container {
  width: 90%;
  margin-left: 1.25rem;

  h2 {
    font-size: 1.7em;
    margin-top: 1.25rem;
  }

  p {
    font-size: 1.2em;
  }
}

.notice__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.notice__group h2 {
  margin-top: 3.5rem;
  font-size: 2em;
  text-align: center;
}

.notice__group p {
  font-size: 1.1em;
  text-align: left;
  border: 1px solid v.$midGrey;
  padding: 20px;
}

.notice__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice__btn__item {
  width: 300px;
  margin: 2rem;
  padding: 0.6rem;
  font-size: 1.4em;
  color: #fff;
  background: v.$blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notice__btn__item:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}
