@use 'src/styles/variables' as v;

.product__container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 5rem;
}

.product__box {
  width: 50%;
}

.product__img {
  width: 350px;
  height: auto;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}

.product__desc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__p {
  font-size: 1.1em;
  margin-left: 27rem;
}

.product__wrapper {
  display: block;
  margin-right: 30rem;
}

.product__wrapper h2 {
  display: block;
  text-align: center;
  font-size: 1.4em;
}

.product__info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.product__info h3 {
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
}

.product__group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product__group__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}

.product__fees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 1rem;
}

.product__fees p {
  font-size: 1.4em;
  font-weight: bold;
}

#cart-button {
  background-color: v.$blue;
  padding: 15px;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.star__box {
  display: flex;
  gap: 5px;
  font-size: 1.2em;
}

#star__items {
  color: #e6e6e6;
  transition: color 0.2s ease;
  cursor: pointer;
}

#star__items.active {
  color: #ff9c1a;
  cursor: pointer;
}
