@use 'src/styles/variables' as v;

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  margin: 1.5rem;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: v.$yellow;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;

  &__links {
    display: flex;
    gap: 45px;
  }

  &__item {
    padding: 0 0.3rem;
    color: inherit;
  }

  &-cart {
    width: 30px;
    margin-right: 1rem;
  }

  &__burger {
    width: 30px;
    height: 40px;
    background-color: transparent;
    border: none;
    display: none;
  }

  &-logo {
    width: 50%;
    background-color: white;
  }
  
}

.search-input {
  width: 100%;
  border: solid 4px lightgray;
  margin-right: 250px;
  margin-left: -100px;
}

@media screen and (max-width: 767px) {
  .navbar {
    background-color: white;
    display: flex;
    padding: 0;
    padding-right: 1rem;
    margin: 0rem;
    max-height: 10rem;


    &__links {
      flex-direction: column;
      background-color: lightgray;
      align-items: center;
      visibility: hidden;
      gap: 3px;
      padding: 1rem;
      padding-top: 0;
      }

    &__item {
      font-size: 1.3rem;
      margin-left: 2rem;
      margin-right: 3.5rem;
      padding: 0.5px;
      width: 100%;
    }

    &-logo {
      width: 150%;
      margin-left: 5rem;
    }
  }
  
  .show-nav .navbar__links {
    width: 40vw;
    visibility: visible;
    transform: translateY(135px);
  }


  .navbar__burger {
    display: block; 
    background-color: lightgrey;
    width: 70px;
    margin-right: 3rem;
  }

  .navbar__burger:hover {
    cursor: pointer;
  }

  .burger-bar {
    display: block;
    width: 50px;
    height: 4px;
    position: relative;
    border-radius: 3px;
    background-color: grey;
    flex-direction: column;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 4px;
        border-radius: 3px;
        background-color: grey;
    }

    &::before {
        top: -12px;
    }

    &::after {
        bottom: -12px;
    }
}

.search-input {
  display: flex;
  font-size: 1.5rem;
  width: 70%;
  margin-left: 10rem;
}

.navbar-cart {
  width: 25px;
}
}
