@use 'src/styles/variables' as v;

.form__content {
  width: 400px;
  padding: 20px;
  margin: 30px auto;
  background: v.$lightGrey;
  border: 1px solid v.$midGrey;
  border-radius: 10px;
  padding-bottom: 25px;

  h1 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 2rem;
  }

  h4 {
    font-size: 1.1em;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-left: -6rem;
    font-weight: 600;
    color: v.$midGrey;
  }
}

.form__change__elem {
  display: block;
}

.form__change__elem input {
  display: block;
  background: #fff;
  border: 1px solid v.$midGrey;
  margin-bottom: 1.5rem;
}

.form__change {
  display: block;
  margin-bottom: 15px;
  margin-left: 6rem;
}

.form__change label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
  margin-top: -0.5rem;
}

.resetpass__button {
  margin-top: 2rem;
}

.resetpass__btn {
  display: inline-block;
  padding: 8px;
  font-size: 1.2em;
  color: #fff;
  background: v.$blue;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 72%;
}

.resetpass__btn:hover {
  background: #7e94e2;
  transition: background 0.3s ease;
}
