@use 'src/styles/variables' as v;

.result__container {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15rem;
}

.result__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.result__box {
   display: grid;
  grid-template-columns: 350px 350px 350px;
  margin-left: 23rem;
}



.result__card {
  position: relative;
  
}
.product-img {
  height: 500px; 
  
}

.vendu-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.322); 
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


.vendu-image {
  filter: blur(5px); 
}

.product-title {
  padding: 1rem;
}
